<div class="PagePublications container">

  <div class="title">
    <h1>BLOG</h1>
  </div>
  <div class="Card">
    <div class="Card-text">
      <h3 style="font-size:27px;">Recent Articles</h3> 
    </div>
    <div class="Card-footer Card-footer--right">
        <%= link_to newsletter_path, method: :get do%>
          
        <% end %>
    </div>
    <iframe src="https://drive.google.com/file/d/13rXFiJtLBAVifyuTxXRdZgycJsFVCm75/preview" width="840" height="480"></iframe>
</div>
