<div class="PagePublications container">

  <div class="title">
    <h1>BLOG</h1>
  </div>
  <div class="Card">
    <div class="Card-text">
      <h3 style="font-size:27px;">Quantamental analysis primer: Everything you need to know</h3> 
    </div>
      
      <p>By Nathan Luk</p>
      <p>12 April 2018</p>
    <div class="Card-footer Card-footer--right">
        <%= link_to newsletter_path, method: :get do%>
          
        <% end %>
    </div>
      <p>
          <font face="calibri">
          <p>
          Most commerce educated university students will be well versed in the area of fundamental analysis. An idea of bottom-up valuation based on reporting data and assumptions to generate a price target for stocks that the analyst ‘covers’. The scope of this article will attempt to explain the basics of quantitative analysis.
          </p>
          <p>
            In a broad sense, quantitative analysis focuses on an alternative source of returns from that of the traditional form (yield from stocks and bonds). Instead, quantitative analysts focus on what’s known as ‘styles’, which is investing systematically to produce long term positive returns which typically exhibit low correlation to traditional assets. Style investing has been thoroughly studied in the stock market, most famously by Eugene Fama and Kenneth French. However, the classic quant styles (or factors) that will be explained in this article are value, momentum, quality, growth and low-risk (low beta).</p>
          <p style="color:#6b9ac6;">Quant factor summary</p>

          <%= image_tag "photos/table.png", class: "portrait", alt: "Elaine Kong" %>
                <br/>
          <br/>

          <p style="color:#6b9ac6;">How to construct a quantitative factor portfolio</p>
          <p>
              Constructing a portfolio based on quantitative factors generally involves splitting the universe (e.g. ASX200, MSCI Asia ex JP etc.) into three ‘buckets’. These three buckets can be thought of as ‘high’, ‘medium’ and ‘low’. Generally, the universe is split into deciles, and ‘high’ bucket refers to the top 3 deciles, ‘low’ refers to the bottom 3 deciles and ‘medium’ is everything in between. These buckets are then re-balanced monthly, and typically equal-weighted (however at times they may be market-cap weighted instead). </p>

          <p>
              The beauty of back-testing a factor portfolio strategy is that in general, it removes the need to benchmark the strategy as most are formed as a long-short strategy. This may involve two types of settings – high minus low or low minus high. Most factor strategies such as quality or momentum, are categorised as high minus low, indicating that we long the ‘high’ basket and short the ‘low’ basket (for momentum, we would long the top 3 deciles ranked by 12m price return and short the bottom 3 deciles ranked by 12m price return). However, there may be some cases such as those ranked on volatility or beta, where we would prefer a low minus high setting. Because the long-short strategy is essentially shorting against its own strategy as the ‘benchmark’, the returns generally any outperformance can be attributed to that style’s ‘premium’. (e.g. if a value strategy generates positive returns, this is known as the ‘value premium’).</p>
          <p>

            There is scope to further create complex strategies that are superior to the current established styles, involving composite factors (combining two factors together) or ranking by different accounting items to produce new styles. Doing this also improves portfolio performance in areas such as risk-adjusted returns and lowers portfolio turnover.
          </p>
          </font>
      </p>
  </div>
  
    
</div>
