<div class="PagePublications container">

  <div class="title">
    <h1>BLOG</h1>
  </div>
  <div class="Card">
    <div class="Card-text">
      <h2>Nothing here yet</h2> 
    </div>
    <div class="Card-footer Card-footer--right">
        <%= link_to newsletter_path, method: :get do%>
          
        <% end %>
    </div>
      Blog coming soon.
  </div>
  
    
</div>
