<div class="PagePublications container">

  <div class="title">
    <h1>BLOG</h1>
  </div>
  <div class="Card">
    <div class="Card-text">
      <h3 style="font-size:27px;">Quantamental analysis primer: Everything you need to know</h3> 
    </div>
    <div class="Card-footer Card-footer--right">
        <%= link_to newsletter_path, method: :get do%>
          
        <% end %>
    </div>
    <embed src="https://drive.google.com/open?id=13rXFiJtLBAVifyuTxXRdZgycJsFVCm75" width="500" height="375"
</div>
