<div class="pageContactUs">
    <div class = "contactHeader">
        <div class="container">
            <div class="title1">
                <br/>
                <h1> Contact Us</h1>
            </div>
        </div>
    </div>
    
    <div class="section2">
        <br/><br/>
        <div class="container">
            <div class="contact-us-container row">
                <div class="col-md-8">
                    <iframe width="100%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=unsw&key=AIzaSyDBxcJiZSxocnv-8DR_PlBo2gnubvaQwIA" allowfullscreen></iframe>
                </div>
                <div height="500px" class="contact-us-content col-md-4">
                    <br/>
                    <i class="fa fa-envelope large-icon"></i>
                    <div>
                      <p>Contact us via:
                      <p class="finsoc-email"><a style="" href='mailto:enquiries@unswfinsoc.org.au'>enquiries@unswfinsoc.org.au</a></p>
                        <p>For individual emails refer to team <b><span class="bioLink"><%= link_to "BIOS", about_us_path(anchor: "team"), method: :get %></span></b></p>
                      <br>
                      <p>OR</p>
                      <br>
                      <p>for website-related queries:</p>
                      <p class="finsoc-email"><a style="" href='mailto:it@unswfinsoc.org.au'>it@unswfinsoc.org.au</a></p>
                      <p>
                    </div>

                    <div class="social-media-box col-md-12">
                      <div>
                        Follow us on:
                      </div>
                      <br>
                      <a id="facebook-icon" href="https://www.facebook.com/FINSOCUNSW/" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>

                      <a id="linkedin-icon" href="https://au.linkedin.com/company/unsw-finance-and-banking-society"  target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </div>
</div>