<div class="title">
	<h1>CONTACT US</h1>
</div>
<div class="contact-us-container container">

<div id="contact-us-content" class="jumbotron">
  <div class="row">
    <div class="contact-us-box col-md-8">
      <iframe width="100%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=unsw&key=AIzaSyDBxcJiZSxocnv-8DR_PlBo2gnubvaQwIA" allowfullscreen></iframe>
    </div>
    <div class="contact-us-box col-md-4">
      <i class="fa fa-envelope large-icon"></i>
      <div>
      <p>Contact us via:
      <p class="finsoc-email">enquiries@unswfinsoc.org.au</p>
      <br>
      <p>OR</p>
      <br>
      <p>for website-related queries:</p>
      <p class="finsoc-email">it@unswfinsoc.org.au</p>
      <p>
      </div>
    </div>
    <div class="social-media-box col-md-4">
      <div>
        Follow us on:
      </div>
      <br>
      <a id="facebook-icon" href="https://www.facebook.com/FINSOCUNSW/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>

      <a id="linkedin-icon" href="https://au.linkedin.com/company/unsw-finance-and-banking-society"  target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
</div>
