<div class="PageHSBCMentor">
      <div class="video_frame">
          <!--<video width="400" controls>
              <source src="mov_bbb.mp4" type="video/mp4">
              <source src="mov_bbb.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>-->
    <div class="video-container">
      <%= video_tag "events/2018/wmp.mp4", alt: "UNSW FINSOC: HSBC Women's Mentoring Event", class:"center", autobuffer: true, :autoplay => true, :loop => true %>
          </div>
     </div>
    
    <div class="content">
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">What is it?</h2>
            <br/>
        </div>
          <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their career objectives within the Financial services industry.</span><br/><br/>
        <p class="PageHSBCMentor-text">
            The HSBC Women in Finance Mentoring Program is an annual mentoring program hosted in partnership with HSBC, to connect current female finance students with successful finance industry professionals. The program aims to provide an opportunity for female finance students to develop a close relationship and receive guidance from experienced and accomplished professionals, in planning and navigating a successful career in the finance industry.
            </p>
            <p class="PageHSBCMentor-text">
                Students can gain valuable insight into what it is like in the finance professional and gain a lifelong mentor/friend to whom they can turn to, on not only professional issues and concerns, but also more personal problems in relation to working in a heavily male-dominated finance industry as a woman.
            </p>
      </div>
    </div>
    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Sponsors on Board</h2>
            <br/>
        </div>
          <span class="FinsocHighlight"><center>CFA, Wilsons Advisory, Challenger, Luminis Partners, Shadforth Financial Group, Franklin Templeton Investments, Women in Finance and Banking, AIMA, Longreach Alternatives, Pinnacle Investment Management, Palisade, Antipodes, and Saxo Capital Markets</center>
          </span>
   
      </div>
    </div>
    </div>
        
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Who are we looking for?</h2>
            <br/>
        </div>
          <span class="FinsocHighlight"><center>We are looking for female identifying UNSW finance students who are ambitious and driven!</center></span><br/><br/>
      </div>
    </div>    
    
    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">What does being a mentee involve?
</h2>
            <br/>
        </div>
         <p class="PageHSBCMentor-text">
             <center> As a mentee, you will be required to attend the Breakfast Launch on 23 August 2018 9.00am – 10.30am at the HSBC Offices where you will be first introduced to your mentor. Both mentor and mentee will then arrange future meeting times, frequency of contact and method of correspondence. There will also be compulsory mid-program and closing events to attend once dates are confirmed.</center>
            </p>
      </div>
    </div>
    </div>
    
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">How do I apply?</h2>
            <br/>
        </div>
            <p class="PageHSBCMentor-text">
                <center>This is a 6 month commitment until the end of March 2019 therefore we cannot accept those going on exchange.</center>
            </p>   

             <p class="PageHSBCMentor-text">

                 <center>Applications are ROLLING and close Thursday 9th August 11:59pm, with interviews being undertaken early the week after!  </center>      </p>
             <p class="PageHSBCMentor-text">

                 <center>If you have any questions please do not hesitate to contact Jacqueline Liu, General Secretary, at secretary@unswfinsoc.org.au.       </center>     </p>
          <hr/>
        <div class="Card-footer Card-footer--center">
            <center><button class="Link" type="button">APPLICATIONS CLOSED</button></center>
            </div>
        
        </div>
        </div>
    </div>
    
    <div class="container">
        
        
        
        
    </div>
</div>
