<div class="PageHSBCMentor">
    <div class="carousel-inner" role="listbox">
      <div class="item active carousel-img">
       <%= image_tag "events/2017/hsbcmentoringcrop.jpg", alt: "UNSW FINSOC: HSBC Women's Mentoring Event" %>
     </div>
    </div>
    <br/>
    <div class="container">
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>What is it?</h2>
            </div>
            <p class="PageHSBCMentor-text">
              The HSBC Women in Finance Mentoring Program is an annual mentoring program, sponsored by HSBC, Gresham, CFA Institute, Challenger, EY, Nomura, AIMA and Luminis Partners, with the purpose of connecting current female finance students with successful finance industry professionals. The program aims to provide an opportunity for female finance students to develop close relationships with, and receive guidance from experienced and accomplished professionals, in order to help them plan and navigate a successful career in the finance industry.
            </p>
            <p class="PageHSBCMentor-text">
              Students can gain valuable insight into what it is like being a female finance professional in our current industry environment and gain a lifelong mentor/friend to whom they can turn to for career challenges such as working in a male-dominated industry, how to remain authentic as a leader and how to navigate a career as a woman with competing demands.
            </p>
          </div>
        </div>
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Who are we looking for?</h2>
            </div>
            <p class="PageHSBCMentor-text">
              We are looking for female identifying UNSW finance students who are ambitious and driven, currently in their undergraduate or postgraduate degree.
            </p>
            <p class="PageHSBCMentor-text">
As a mentee, you will be required to attend the Launch Night on 13 September 5:00pm - 7:00pm at the HSBC office where you will be introduced to your mentor. Both mentor and mentee will then arrange future meeting times, frequency of contact and method of correspondence.
            </p>
            </div>
        </div>
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>How do I apply?</h2>
            </div>
            <p class="PageHSBCMentor-text">
              Applications are now open and close Wednesday 23 August 11:59pm, with interviews being undertaken as early as week 5!
            <p>
            <p class="PageHSBCMentor-text">
            If you have any questions please do not hesitate to contact Kelly Wu, Vice President (Operations), at kelly.wu@unswfinsoc.org.au.
            </p>
            <div class="Card-footer Card-footer--center">
              <%= link_to '<button class="Link"> APPLY NOW</button>'.html_safe, "https://goo.gl/forms/ii93adretsUMlh5j2", :target => "_blank" %>
            </div>
          </div>
        </div>
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Sponsors</h2>
            </div>
            <div class="SponsorsList PageHSBCMentor-sponsors">
              <div class="SponsorsList-item">
               <%= image_tag "events/2017/hsbcmentoringsponsors.png", alt: "HSBC Women's Mentoring Sponsors" %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
