<div class="newsletter-container container">
  <div class="title">
    <h1>NEWSLETTER</h1>
  </div>

  <iframe id="newsletter" src="http://sh1.sendinblue.com/2n43gyb91t7e.html?t=1587555937">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
