<div class="SponsorTile">
  <div class="SponsorTile-imgContainer">
      <%= image_tag "sponsors/gradmentor.jpg" %>
  </div>
  <div class="SponsorTile-text">
    <div class="SponsorTile-text-title">GradMentor</div>
    <div class="SponsorTile-text-content">
    Grad Mentor specializes in finding the most talented graduates and developing into valuable long term contributors to the industry.
They accomplish this by serving as a direct channel between graduates and the leading firms of the financial planning industry.
Highly engaged members of FINSOC will undoubtedly find value from our partnership with Grad Mentor.
    </div>
    <div class="SponsorTile-text-footer">
      <a class="SponsorTile-text-footer-link" href="http://www.gradmentor.com.au">Visit Site</a>
      <span class="SponsorTile-text-footer-arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
    
  </div>
</div>
