<div class="control-panel-container container">
    <h1>Control panel</h1>
    <h2>Events Control</h2>
        <p>Events</p>
        <p>Add Event</p>
        <p>Edit Event</p>
        <p>Remove Event</p>
    <h2>Newsletter Control</h2>
</div>
