<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	 <div class="container">
		  <div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar">
	        <span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
       		<span class="icon-bar"></span>
       		<span class="icon-bar"></span>
	    	</button>
				<div id="social-media-bar" class="nav navbar-nav pull-right">
					<a id="facebook-icon" href="https://www.facebook.com/UNSWFinanceSociety/?fref=ts" target="_blank">
						<i class="fa fa-facebook-square fa-3x"></i>
					</a>
					<a id="linkedin-icon" href="https://www.linkedin.com/company/finance-&-banking-society_2?trk=prof-exp-company-name" target="_blank">
						<i class="fa fa-linkedin-square fa-3x"></i>
					</a>
					<a id="twitter-icon" href="https://twitter.com/finsoc" target="_blank">
						<i class="fa fa-twitter-square fa-3x"></i>
					</a>
				</div>
				<%= link_to image_tag("logo_sm.png", id: "header-logo"), root_path, class: "navbar-brand" %>
		  </div>
		  <div id="top-navbar" class="navbar-collapse collapse">
		      <ul class="nav navbar-nav navbar-right">
						<li class="navbar-item"><%= link_to "Events", events_path %></li>
						<li class="navbar-item"><%= link_to "Sponsorship", sponsorship_path %></li>
						<li class="navbar-item"><%= link_to "Newsletter", newsletter_path %></li>
		      </ul>
		  </div>
	 </div>
</div>
