<div class="PageCourseGuide container">
    <div class="title">
      <h1>Course Guide [WIP]</h1>
     We are extremely proud to present UNSW Finance and Banking Society’s Course Guide for 2017.
     <br/>
The FINSOC Course Guide will provide you with a comprehensive look into the structure, course topics, industry connection, student reviews, and tips into every finance core subject and the 17 different elective subjects available within the finance major at UNSW. 
     <br/>
Our goal through this extensive guide is to provide valuable foresight for you regarding the FINS subjects and accordingly, enhance your decision making process regarding subject selection and fulfillment of relevant skills and competencies simultaneous with your favoured industry. 
     <br/>
** NOTE: Pursuant to UNSW FINSOC ‘s reasonable processes to ensure the validity and accuracy of our guide, the courses reviews and relevant tips from UNSW students who have previously taken the courses, must not be relied on exclusively. Furthermore, the guide should be seen as a complementary resource to official documents from the University of New South Wales Business School, by providing insider and past students’ experiences and perspectives. UNSW FINSOC reserves the right to update the course guide pursuant to the learning of new information from changes in teaching staff, course structure and semesters. 
     <br/>
    </div>
    <p>
    </p>
    <div class="title">
      <h2>Compulsory Finance Courses</h2>
    </div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="compulsoryHead">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#financeCompulsory" aria-expanded="true" aria-controls="financeCompulsory">
          <p class="CoursePanel-title">
            FINS1612
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="financeCompulsory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compulsoryHead">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TS03TUpEb1RYZGM">PDF</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins1613head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins1613" aria-expanded="true" aria-controls="fins1613">
          <p class="CoursePanel-title">
            FINS1613
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins1613" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins1613head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TS03TUpEb1RYZGM">PDF</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins2624head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins2624" aria-expanded="true" aria-controls="fins2624">
          <p class="CoursePanel-title">
            FINS2624
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins2624" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2624head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TS03TUpEb1RYZGM">PDF</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3616head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3616" aria-expanded="true" aria-controls="fins3616">
          <p class="CoursePanel-title">
            FINS3616
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3616" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3616head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TS03TUpEb1RYZGM">PDF</a>
				</div>
			</div>
		</div>
  </div>
    <div class="title">
      <h2>Finance Electives</h2>
    </div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="FINS2643head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#FINS2643" aria-expanded="true" aria-controls="FINS2643">
          <p class="CoursePanel-title">
              FINS2643
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="FINS2643" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FINS2643head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_ODEtQnViQl9GbTA">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins2622head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins2622" aria-expanded="true" aria-controls="fins2622">
          <p class="CoursePanel-title">
              FINS2622, 3630, 3637, 3655
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins2622" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2622head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_MFpDU3h3ekJYd0E">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3623head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3623" aria-expanded="true" aria-controls="fins3623">
          <p class="CoursePanel-title">
              FINS3623
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3623" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3623head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_VGJaa1RPcG00ZVU">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3625head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3625" aria-expanded="true" aria-controls="fins3625">
          <p class="CoursePanel-title">
              FINS3625
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3625" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3625head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_RWVyT1d3U0F5Z2M">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3626head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3626" aria-expanded="true" aria-controls="fins3626">
          <p class="CoursePanel-title">
              FINS3626
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3626" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3626head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NFBXX3ljVHN3SE0">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3633head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3633" aria-expanded="true" aria-controls="fins3633">
          <p class="CoursePanel-title">
             FINS3633 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3633" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3633head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_aFlVRk5DVm11eDg">PDF</a>
				</div>
			</div>
		</div>
  <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3634head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3634" aria-expanded="true" aria-controls="fins3634">
          <p class="CoursePanel-title">
            FINS3634 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3634" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3634head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_dTJkOHE2d01CUnc">PDF</a>
				</div>
			</div>
		</div>

  <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3635head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3635" aria-expanded="true" aria-controls="fins3635">
          <p class="CoursePanel-title">
             FINS3635 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3635" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3635head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NjhLWDRrYjljbzg">PDF</a>
				</div>
			</div>
		</div>

  <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3636head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3636" aria-expanded="true" aria-controls="fins3636">
          <p class="CoursePanel-title">
             FINS3636 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3636" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3636head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_UmhkZldEYnJlYzA">PDF</a>
				</div>
			</div>
		</div>

  <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3639head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3639" aria-expanded="true" aria-controls="fins3639">
          <p class="CoursePanel-title">
             FINS3639 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3639" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3639head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_UmhkZldEYnJlYzA">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3641head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3641" aria-expanded="true" aria-controls="fins3641">
          <p class="CoursePanel-title">
            FINS3641 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3641" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3641head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NVhzN1RiYV9kOGc">PDF</a>
				</div>
			</div>
		</div>

    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3650head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3650" aria-expanded="true" aria-controls="fins3650">
          <p class="CoursePanel-title">
           FINS3650 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3650" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3650head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NXlqMEJZM2RKekk">PDF</a>
				</div>
			</div>
		</div>
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3775head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#fins3775" aria-expanded="true" aria-controls="fins3775">
          <p class="CoursePanel-title">
             FINS3775 
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3775" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3775head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_VmpLR2ZaRTVmdDg">PDF</a>
				</div>
			</div>
		</div>


  </div>
</div>
