<div class="PageCourseGuide container">
    <div class="title">
      <h1>Course Guide</h1>
    </div>
    <div class="Card-text jumbotron">
      <p class="PageCourseGuide-description">
        We are extremely proud to present UNSW Finance and Banking Society’s Course Guide for 2017.
        <br/>
        <br/>
        The FINSOC Course Guide will provide you with a comprehensive look into the structure, course topics, industry connection, student reviews, and tips into every finance core subject and the 17 different elective subjects available within the finance major at UNSW. 
        <br/>
        <br/>
        Our goal through this extensive guide is to provide valuable foresight for you regarding the FINS subjects and accordingly, enhance your decision making process regarding subject selection and fulfillment of relevant skills and competencies simultaneous with your favoured industry. 
        <br/>
        <hr/>
        <br/>
        ** NOTE: Pursuant to UNSW FINSOC ‘s reasonable processes to ensure the validity and accuracy of our guide, the courses reviews and relevant tips from UNSW students who have previously taken the courses, must not be relied on exclusively. Furthermore, the guide should be seen as a complementary resource to official documents from the University of New South Wales Business School, by providing insider and past students’ experiences and perspectives. UNSW FINSOC reserves the right to update the course guide pursuant to the learning of new information from changes in teaching staff, course structure and semesters. 
        <br/>
      </p>
    </div>
    <p>
    </p>
    <div class="title">
      <h2>Compulsory Finance Courses</h2>
    </div>
	<div class="panel-group" id="accordionCompulsory" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="compulsoryHead">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#financeCompulsory" aria-expanded="true" aria-controls="financeCompulsory">
          <p class="CoursePanel-title">
            FINS1612 Capital Markets and Institutions
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="financeCompulsory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compulsoryHead">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_MmF3d3pxWXUxemc">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>	
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins1613head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins1613" aria-expanded="true" aria-controls="fins1613">
          <p class="CoursePanel-title">
            FINS1613 Business Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins1613" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins1613head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_d1BpTERBOWJhbGM">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins2624head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins2624" aria-expanded="true" aria-controls="fins2624">
          <p class="CoursePanel-title">
            FINS2624 Portfolio Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins2624" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2624head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_RUdqQlpFdlVMb0k">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3616head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins3616" aria-expanded="true" aria-controls="fins3616">
          <p class="CoursePanel-title">
            FINS3616 International Business Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3616" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3616head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_bXlyUnA5ajJVTUE">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
  </div>

	<div class="title">
		<h2>Finance Sub Branches</h2>
	</div>
	<div class="panel-group" id="accordionFinsSub" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins1613head_2">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins1613_2" aria-expanded="true" aria-controls="fins1613_2">
          <p class="CoursePanel-title">
            FINS1613 Business Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins1613_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins1613head_2">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_d1BpTERBOWJhbGM">View PDF</a>
					<p>This Course is a Finance Core.</p>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3625head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3625" aria-expanded="true" aria-controls="fins3625">
          <p class="CoursePanel-title">
              FINS3625 Applied Corporate Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3625" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3625head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_RWVyT1d3U0F5Z2M">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3641head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3641" aria-expanded="true" aria-controls="fins3641">
          <p class="CoursePanel-title">
            FINS3641 Security Analysis and Valuation
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3641" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3641head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NVhzN1RiYV9kOGc">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3623head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3623" aria-expanded="true" aria-controls="fins3623">
          <p class="CoursePanel-title">
              FINS3623 Venture Capital
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3623" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3623head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_VGJaa1RPcG00ZVU">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
  </div>

	<div class="title">
		<h2>Funds Management</h2>
	</div>
	<div class="panel-group" id="accordionFundsMgmt" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins2624head_2">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFundsMgmt" href="#fins2624_2" aria-expanded="true" aria-controls="fins2624_2">
          <p class="CoursePanel-title">
            FINS2624 Portfolio Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins2624_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2624head_2">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TS03TUpEb1RYZGM">View PDF</a>
					<p>This Course is a Finance Core</p>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3640head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFundsMgmt" href="#fins3640" aria-expanded="true" aria-controls="fins3640">
          <p class="CoursePanel-title">
           FINS3640 Investment Management Modelling
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3640" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3640head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NWQ3YnBMQmkzRnM">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
	</div>


	<div class="title">
		<h2>Banking</h2>
	</div>
	<div class="panel-group" id="accordionBanking" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3630head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionBanking" href="#fins3630" aria-expanded="true" aria-controls="fins3630">
          <p class="CoursePanel-title">
              FINS3630 Bank Financial Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3630" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3630head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_TmRxdHZwamtPWmM">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3650head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionBanking" href="#fins3650" aria-expanded="true" aria-controls="fins3650">
          <p class="CoursePanel-title">
           FINS3650  International Banking
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3650" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3650head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NXlqMEJZM2RKekk">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="title">
		<h2>Derivatives</h2>
	</div>
	<div class="panel-group" id="accordionDerivatives" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3635head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3635" aria-expanded="true" aria-controls="fins3635">
          <p class="CoursePanel-title">
             FINS3635 Options, Futures and Risk Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3635" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3635head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NjhLWDRrYjljbzg">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3636head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3636" aria-expanded="true" aria-controls="fins3636">
          <p class="CoursePanel-title">
             FINS3636 Interest Rate Risk Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3636" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3636head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_UmhkZldEYnJlYzA">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3626head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3626" aria-expanded="true" aria-controls="fins3626">
          <p class="CoursePanel-title">
              FINS3626 International Corporate Governance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3626" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3626head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_NFBXX3ljVHN3SE0">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="title">
		<h2>Wealth Management</h2>
	</div>
	<div class="panel-group" id="accordionWealthMgmt" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="FINS2643head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionWealthMgmt" href="#FINS2643" aria-expanded="true" aria-controls="FINS2643">
          <p class="CoursePanel-title">
              FINS2643 Wealth Management
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="FINS2643" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FINS2643head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_ODEtQnViQl9GbTA">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3637head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionWealthMgmt" href="#fins3637" aria-expanded="true" aria-controls="fins3637">
          <p class="CoursePanel-title">
              FINS3637 Wealth Management Advice
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3637" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3637head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_MFpDU3h3ekJYd0E">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="title">
		<h2>Other</h2>
	</div>
	<div class="panel-group" id="accordionOther" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins2622head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins2622" aria-expanded="true" aria-controls="fins2622">
          <p class="CoursePanel-title">
              FINS2622 Asia-Pacific Capital Markets
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins2622" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2622head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_WHFESmFHcVgtamc">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>	
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3633head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3633" aria-expanded="true" aria-controls="fins3633">
          <p class="CoursePanel-title">
             FINS3633 Real Estate Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3633" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3633head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_aFlVRk5DVm11eDg">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3634head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3634" aria-expanded="true" aria-controls="fins3634">
          <p class="CoursePanel-title">
            FINS3634 Credit Analysis & Lending
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3634" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3634head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_dTJkOHE2d01CUnc">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3639head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3639" aria-expanded="true" aria-controls="fins3639">
          <p class="CoursePanel-title">
             FINS3639 Estate Plan & Asset Protection
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3639" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3639head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_S0J2VWJia3ZSTHc">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3655head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3655" aria-expanded="true" aria-controls="fins3655">
          <p class="CoursePanel-title">
              FINS3655 Behavioural Finance
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3655" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3655head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_R3puV0d6Q2JreUk">View PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="fins3775head">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3775" aria-expanded="true" aria-controls="fins3775">
          <p class="CoursePanel-title">
             FINS3775 Research Methods in Finance 1
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="fins3775" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3775head">
				<div class="panel-body">
          <a href="https://drive.google.com/open?id=0B8VSH3t5MUB_VmpLR2ZaRTVmdDg">PDF</a>
					<p>More Details Coming Soon!</p>
				</div>
			</div>
		</div>	
	</div>	

</div>
