<div class="PageCourseGuide container">
    <div class="title">
      <h1>Course Guide [WIP]</h1>
     We are extremely proud to present UNSW Finance and Banking Society’s Course Guide for 2017.
     <br/>
The FINSOC Course Guide will provide you with a comprehensive look into the structure, course topics, industry connection, student reviews, and tips into every finance core subject and the 17 different elective subjects available within the finance major at UNSW. 
     <br/>
Our goal through this extensive guide is to provide valuable foresight for you regarding the FINS subjects and accordingly, enhance your decision making process regarding subject selection and fulfillment of relevant skills and competencies simultaneous with your favoured industry. 
     <br/>
** NOTE: Pursuant to UNSW FINSOC ‘s reasonable processes to ensure the validity and accuracy of our guide, the courses reviews and relevant tips from UNSW students who have previously taken the courses, must not be relied on exclusively. Furthermore, the guide should be seen as a complementary resource to official documents from the University of New South Wales Business School, by providing insider and past students’ experiences and perspectives. UNSW FINSOC reserves the right to update the course guide pursuant to the learning of new information from changes in teaching staff, course structure and semesters. 
     <br/>
    </div>
    <p>
    </p>
    <div class="title">
      <h2>Compulsory Finance Courses</h2>
    </div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="financeCompulsory">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#financeCompulsory" aria-expanded="true" aria-controls="financeCompulsory">
          <p class="CoursePanel-title">
            FINS1612, FINS1613, FINS2624, FINS3616
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="financeCompulsory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="financeCompulsory">
				<div class="panel-body">
          <%= link_to "PDF", asset_path('/courseguides/compulsory.pdf'), :download => 'Compulsory Finance Courses' %>
				</div>
			</div>
		</div>
    <div class="panel panel-default CoursePanel">
      <div class="CoursePanel-heading" role="tab" id="heads2">
        <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#cols2" aria-expanded="true" aria-controls="cols2">
          <p class="CoursePanel-title">
              ACCT1501
          <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
          </p>
        </a>
      </div>
			<div id="cols2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heads2">
				<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat erat eget lacus sagittis, sed pellentesque orci consectetur. Suspendisse volutpat at arcu in cursus. Phasellus tempor efficitur diam ac euismod. Praesent dictum tincidunt nibh. Phasellus sit amet facilisis mauris. Donec tristique diam id eros porta, sit amet egestas enim rutrum. Nam efficitur nisi sit amet gravida condimentum. Aliquam scelerisque sit amet erat eget mattis. Pellentesque porttitor lacus est, sed sollicitudin sapien pulvinar et. Ut id luctus velit, vitae gravida lacus.
				</div>
			</div>
		</div>


  </div>
</div>
