<div class="index-container">
  <div id="events-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
     <li data-target="#events-carousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
     <div class="item active carousel-img">
      <div class="event-box">
        <%= link_to events_path, class: "white-colour-link" do %>
          <span class="glyphicon glyphicon-chevron-right arrow-link" aria-hidden="true"></span>
          More events
        <% end %>
      </div>
       <%= image_tag "events/pancakes_hot_chocolate.jpg", alt: "Meet and Greet ft. Pancakes and Hot Chocolate" %>
     </div>
    </div>

  </div>

  <div class="banner">
    <div id="mission" class="jumbotron banner-inner">
      <div class="title">
        <h2>OUR MISSION</h2>
      </div>
      <div class="content">
        <p>To become Australia&#8217;s leading student run society platform in assisting students on achieving their banking and financial planning career goals.</p>
      </div>
    </div>
  </div>

  <div class="banner">
    <div id="sponsors" class="jumbotron banner-inner">
      <div class="title">
        <h2>SPONSORS</h2>
      </div>
      <div id="sponsor-carousel" class="content">
        <div class="item"><%= image_tag "sponsors/GradMentor.png", alt: "Grad Mentor" %></div>
        <div class="item"><%= image_tag "sponsors/FPA.png", alt: "FPA" %></div>
      </div>
    </div>
  </div>
</div>