<div class="newsletter-container">
  <div class="title">
    <h1>NEWSLETTER</h1>
  </div>

  <iframe id="newsletter" src="https://docs.google.com/viewer?url=https://www.unswfinsoc.org.au<%= asset_path('newsletters/week1.pdf') %>&embedded=true">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>