<div class="publications-container container">

  <div class="title">
    <h1>Newsletters</h1>
  </div>
  <div class="Card-text jumbotron">
    View our Latest 
    <b><%= link_to "Newsletters", newsletter_path, method: :get %></b>
  </div>
  <div class="title">
    <h1>Course Guide</h1>
  </div>
  <div class="Card-text jumbotron">
    View our
    <b><%= link_to "Guide to UNSW Finance Courses", course_guide_path, method: :get %></b>
  </div>
</div>
