  <a name="sponsors"></a>
  <div class="title">
    <h1>SPONSORS</h1>
  </div>

<div class="sponsors-container container">
  <div class="row sponsor">
    <div class="col-md-4">
      <%= image_tag "sponsors/GradMentor.png", class: "logo" %>
    </div>
    <div class="col-md-8 description">
      Grad Mentor specializes in finding the most talented graduates and developing into valuable long term contributors to the industry. They accomplish this by serving as a direct channel between graduates and the leading firms of the financial planning industry. Highly engaged members of FINSOC will undoubtedly find value from our partnership with Grad Mentor.
    </div>
  </div>

  <div class="row sponsor">
    <div class="col-md-4">
      <%= image_tag "sponsors/FPA.png", class: "logo" %>
    </div>
    <div class="col-md-8 description">
      The Financial Planning Association of Australia (FPA) is Australia's leading professional community of financial planners. Financial planning is about helping people make better financial decisions for themselves and their families. Together with our 11,000 members, we are shaping the future of financial planning to secure a better financial future for Australians. We are the only Australian body licensed to administer and deliver the CERTIFIED FINANCIAL PLANNER® designation, the highest designation in financial planning, recognised in 26 countries around the world. 
      Visit <%= link_to "http://fpa.com.au/", "http://fpa.com.au/" %> to find out more.
    </div>
  </div>

  <a name="apply"></a>
  <div class="title">
    <h1>APPLY</h1>
  </div>

  <div class="apply">
      <p>
        Apply to help sponsor FINSOC by sending us an email at sponsorship@unswfinsoc.org.au.
      </p>
  </div>
</div>
