.edit-events-container {
	padding: 40px 20px;

	#create-new-event-form {
		.form-field {
			margin: 20px 0;

			label {
				margin-right: 20px;
			}

			.input-field {
				width: 100%;
			}
		}
	}

	.event-img {
		height: 200px;
	}

	.update-event-img {
		margin-left: 20px;
		display: inline-block;
	}
}