.about-us-container {
	background-color: whitesmoke !important;
	color: black;

	.name {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
	}

	.portrait {
		width: 200px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
	}

	.hover-image {
		position: relative;
	}

	.hover-image:hover .hover-text {
		display: block;
	}

	.hover-text {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		z-index: 1000;
		line-height: 200px;
		text-align: center;
		background-color: rgba(0,0,0, 0.4);
		color: white;
		display: none;
	}

	.ppl-title h3 {
		font-size: 22px;
	}

	.ppl-row {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 70px;
	}

	.text-content {
		padding: 0px 50px 20px 50px;
	}

	.subsection-title {
		background-color: #337AB7;
		color: white;
		margin: 0px 50px 20px 50px;
	}

	.subsection-title {
		padding: 10px 20px;
	}

	.subsection-title > h2 {
		margin: 10px 0px;
	}
}
