.contact-us-container {
	
	background-color: whitesmoke !important;
	color: #555555;

	#contact-us-content {
		text-align: center;
		padding: 0px 50px 50px 50px;
	}

	.contact-us-box {
		padding: 25px;
	}

	.large-icon {
		font-size: 3em;
	}

	.finsoc-email {
		font-weight: bold;
	}
}
