// Events Page
@import "variables";

.events-container {
	padding-bottom: 20px;

	.jumbotron {
		text-align: center;
	}

	.event {
        margin-bottom: $space-md;
    }

    .event-inner {
        width: 100%;
        border-radius: 5px;
        box-shadow: $zdepth2;
        background-color: white;
        font-family: "Roboto Condensed", sans-serif;

        .event-img {
            border-bottom: 2px solid $darkBlue2;

            img {
                border-radius: 5px 5px 0 0;
                width: 100%;
            }
        }

        .event-content {
            width: 100%;

            &-title {
                margin-bottom: 0;
                padding-left: 50px;
                display: block;
                color: $darkBlue;
            }

            &-date, &-time, &-location {
                float: left;
                display: inline-block;
                width: 250px;
                padding-top: $space-sm;
                text-align: center;
                font-weight: 700;
                letter-spacing: 0.2px;
                font-size: 2rem;
                color: $darkBlue2;

                p {
                    padding-left: 5px;
                    display: inline-block;
                    text-transform: uppercase;
                }
            }
            
            &-details {
                margin-top: $space-xs;
                padding-left: 50px;
                padding-bottom: $space-xs;
            }
        }

    }
	
	.subsection-title {
		color: #DDDDDD;
		margin-bottom: $space-md;
		text-align: center;
	}

	#past-events-section, #upcoming-events-section {
		margin-top: $space-lg;
        margin-left: auto;
        margin-right: auto;

        // Specific width for display events
        @media (min-width: $screenMobile) {
            width: 480px;
        }

        @media (min-width: $screenTablet) {
            width: 750px;
        }

	}
}
