.events-container {
	padding-bottom: 20px;

	.jumbotron {
		text-align: center;
	}

	.banner {
        border-style: solid;
        border-width: 2px 2px 0 2px;

        &-last {
            border-bottom-width: 2px;
        }

        &-inner {
            width: 100%;
		    height: 130px;
		    background-color: white;
            font-family: "Roboto Condensed", sans-serif;

            .content {
                float: right;
		        padding: 5px 20px;
                text-align: left;
                width: 100%;
                
                hr {
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
            }

            .date {
                float: left;
                width: 50%;
                padding-top: $space-sm;
                font-family: 'Roboto Condensed', sans-serif;
                text-align: center;
                
                &-text {
                    font-weight: 900;
                    font-size: 1.7em;
                    color: $darkBlue;
                    margin-bottom: 0;
                }

                &-week {
                    font-size: 0.9em;
                    font-weight: 300;
                }
            }

            .event-img {
                float: right;
                width: 50%;
                border-style: solid;
                border-width: 1px;

                img {
                    width: 100%;
                    //width: 150px;
                }
            }
        }

	}
	
	.subsection-title {
		color: #DDDDDD;
		margin-bottom: $space-md;
		text-align: center;
	}

	#past-events-section, #upcoming-events-section {
		margin-top: $space-lg;
        margin-left: auto;
        margin-right: auto;

        // Open to revision. Maybe something like this sitewide
        // instead of relying on bootstrap's container
        @media (min-width: $screenMobile) {
            width: 480px;
        }

        @media (min-width: $screenTablet) {
            width: 750px;
        }

        @media (min-width:  $screenLaptopSm) {
            width: 1200px;
        }
	}
}
