@import url(http://fonts.googleapis.com/css?family=Raleway);

html {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	height: 100%;
	background-color: whitesmoke !important;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.title {
	text-align: center;
	padding: 20px 0px;
	color: #999999;
}

.title h1 {
	font-size: 4em;
	letter-spacing: 5px;
}

.title h2 {
	font-size: 3em;
	letter-spacing: 2px;
}

h1, h2 {
	font-weight: 700;
}

.white-colour-link {
	color: white;
}

.white-colour-link:hover {
	color: white;
}

button {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 0px;
	background-color: #0066CC;
	text-align: center;
	vertical-align: middle;
	border: none;
	outline: none;
}

button:hover {
	background-color: #000099;
}

/* Footer */

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 10px solid #337AB7;
}

#footer a {
	display: block;
	color: white;
	padding: 5px 0px;
}

#footer p {
	color: #BBBBBB;
	font-size: 0.9em;
}

.site-map {
	display: block;
	color: #888888;
	padding-bottom: 20px;
}

#footer-logo {
	max-height: 30px;
	margin-bottom: 20px;
}

#contacts > * {
	float: left;
}

#contacts .glyphicon {
	padding-right: 5px;
}

#contacts p {
	padding-right: 20px;
}

.glyphicon-map-marker {
	color: red;
}

.glyphicon-envelope {
	color: #00CCFF;
}