.navbar {
	background-color: white;
	border-color: white;
	height: 65px;
}

.navbar-header {
	height: 65px;
}

.navbar-header > button {
	margin-top: 12px;
}

body {
	margin-top: 65px;
}

.navbar-toggle {
	background-color: black;
	margin-right: 0;
}

#header-logo {
	max-height: 30px;
}

#navbar-container nav {
	display: inline;
	float: right;
}

#top-navbar {
	padding-top: 8px;
	background-color: white;
	font-size: 14px;

	a {
		font-weight: bold;
		text-transform: uppercase;
	}

	li.navbar-item:hover {
		color: white;
		background-color: #337AB7;
		-webkit-transition: background-color 500ms linear;
	    -moz-transition: background-color 500ms linear;
	    -o-transition: background-color 500ms linear;
	    -ms-transition: background-color 500ms linear;
	    transition: background-color 500ms linear;
	}
}

@media (max-width: 550px) {
	#social-media-bar {
		display: none;
	}
}

@media (max-width: 1050px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
	
	.navbar-toggle { 
		display: block !important;
	}

	.navbar-header { 
		width: 100%; height: 65px; 
	}
}

#social-media-bar {
	margin: 10px 20px 0px 30px;
}

#facebook-icon {
	color: #3b5998;

	&:hover {
		color: #4b69a8;
	}
}

#twitter-icon {
	color: #00aced;

	&:hover {
		color: #00ccfd;
	}
}

#linkedin-icon {
	color: #007bb5;

	&:hover {
		color: #009bd5;
	}
}
