.sponsors-container {
	padding-bottom: 40px;

	.sponsor {
		padding: 20px 50px;
	}

	.logo {
		width: 100%;
		margin: 20px 0px;
	}

	.description {
		padding: 10px 50px;
	}

	.apply {
		text-align: center;
	}
}
