.sponsors-container {
	padding-bottom: 40px;

    .sponsor {
		padding-bottom: 20px;
        margin-bottom: 40px;
        box-shadow: $zdepth1;
        border-radius: 0px;
        background-color: white;
	}

	.logo {
		width: 100%;
		margin: 20px 0px;
	}

	.description {
		padding-bottom: 20px;
	}

	.apply {
		text-align: center;
        word-wrap: break-word;
        font-size: 1.2em;
        border-radius: 0px;
        box-shadow: $zdepth1;
        background-color: white;
        padding: 20px;

        &-text {
            color: $darkBlue1;
        }

        &-link {
            color: $black; 
        }
	}
}
