// Variables

// FINSOC Colours
//  1
$black: #121522;        // title
$lightBlue1 : #A2C2E2;    // content
$lightBlue2 : #89B5C4;   // content
//  2
$darkBlue : #102C44;     // title
$darkBlue1 : #557B94;     // content
$darkBlue2 : #32607A;    // content
//  Grey Content
$grey : #BFBFBF
