.PageHSBCMentor {
    $this: PageHSBCMentor;

    &-text {
        text-align: justify;
    }

	.carousel-inner {
		height: 100%;
        box-shadow: $zdepth1;
	}

	.carousel-img {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

    .SponsorsList.#{$this}-sponsors {
        height: 100%;
    }
}
