// Link Component

.Link {
    @include hoverShadow($zdepth4, 500ms);
    background-color: $darkBlue1;
    color: white;

    &:hover {
        background-color: $lightBlue1;
    }

    &--inverse {
        background-color: $lightBlue1;
        &:hover {
            background-color: $darkBlue1;
        }
    }
}
